<!--recipe is not deleted-->
<!--div *ngIf="mainDetails.statusDetails!=4"-->
<mat-card class="margin-15">

    <h1>{{mainDetails.nameRecipe}}</h1>
    <mat-card-actions>
        <button mat-fab (click)=" deleteRecipe() ">
            <mat-icon>delete</mat-icon>
            </button>
        <button mat-fab (click)="shareRecipe() ">
            <mat-icon>share</mat-icon>
            </button>
        <button mat-fab (click)="sayIt() ">
                <mat-icon>keyboard_voice</mat-icon>
            </button>
    </mat-card-actions>
</mat-card>
<mat-vertical-stepper>
    <mat-step>
        <ng-template matStepLabel>Main Details Of Recipee</ng-template>

        <!--app-main-details class="margin-15" [code]="this.code" [nameRecipe]="mainDetails.nameRecipe" [statusDetails]="mainDetails.statusDtails" [getFrom]="mainDetails.getFrom" [category1]="mainDetails.category1" [category2]="mainDetails.category2" [category3]="mainDetails.category3"
            [urlImg]="mainDetails.urlImg" [comment]="mainDetails.comment"></app-main-details>
        -->
        <form>


            <div id="recipeInEdit" *ngIf="mainDetails.statusDetails!=1">
                <mat-card>
                    <mat-card-content>
                        <mat-input-container class="fullwidth">
                            <input matInput name="mainDetails.getFrom" placeholder="Recipe received from" [(ngModel)]="mainDetails.getFrom">
                        </mat-input-container>
                        <mat-card-title>
                            <mat-input-container class="fullwidth">
                                <input matInput type="text" name="mainDetails.nameRecipe " placeholder="Name Of Recipe" [(ngModel)]="mainDetails.nameRecipe" required>
                                <mat-error *ngIf="!mainDetails.nameRecipe">You must enter name of recipe.</mat-error>
                            </mat-input-container>
                        </mat-card-title>
                        <p>{{mainDetails.nameRecipe}}</p>
                        <h3>Categories:</h3>

                        <table class="fullwidth" cellspacing="0">
                            <tr>
                                <td>

                                    <mat-select placeholder="category 1" name="mainDetails.category1" [(ngModel)]="mainDetails.category1">
                                        <mat-option *ngFor="let option of _recipeService.optionCategories">{{option.value}}</mat-option>
                                    </mat-select>

                                </td>
                                <td>
                                    <mat-select placeholder="category 2" name="mainDetails.category2" [(ngModel)]="mainDetails.category2">
                                        <mat-option *ngFor="let option of _recipeService.optionCategories" color="orange">{{option.value}}</mat-option>
                                    </mat-select>
                                </td>
                                <td>
                                    <mat-select placeholder="category 3" name="mainDetails.category3" [(ngModel)]="mainDetails.category3">
                                        <mat-option *ngFor="let option of _recipeService.optionCategories">{{option.value}}</mat-option>
                                    </mat-select>
                                </td>
                            </tr>
                        </table>

                        <mat-card>
                            <input type="file" id="choosedImg">
                        </mat-card>
                        <mat-form-field class="fullwidth">
                            <textarea matInput placeholder="comment" aria-label="Comment" name="comment" [(ngModel)]="mainDetails.comment" matTextareaAutosize [maxlength]="commentMax"></textarea>
                            <mat-hint>Leave us a comment!</mat-hint>
                            <mat-hint align="end">{{commentCount}}/{{commentMax}}</mat-hint>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-fab color="orange" (click)="saveRecipeDetails()" [disabled]='!mainDetails.nameRecipe'>
          <mat-icon>assignment_turned</mat-icon>
        </button>
                    </mat-card-actions>




                </mat-card>
            </div>

            <div id="recipeOnSave" *ngIf="mainDetails.statusDetails==1">
                <mat-card>
                    <mat-card-header>
                        category:{{mainDetails.category1}} {{mainDetails.category2}} {{mainDetails.category3}}.
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-4">
                                <img mat-card-image [src]="mainDetails.urlImg">
                            </div>
                            <div class="col-8">
                                <mat-card-title>
                                    <h1>{{mainDetails.nameRecipe}}</h1>
                                </mat-card-title>
                                <mat-card-subtitle *ngIf="mainDetails.getFrom">Recipe received from: {{mainDetails.getFrom}}</mat-card-subtitle>
                                <h5 *ngIf="comment">Comment:{{mainDetails.comment}}</h5>


                            </div>
                        </div>

                        <mat-card-actions>
                            <button mat-fab color="orange" (click)="aditDetails()">
            <mat-icon class="mat-25" >edit</mat-icon>
            </button>

                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
        <!-------------------------------------------------------------------->
        <br><br>
        <div>
            <button mat-button matStepperNext type="button" [disabled]="this.mainDetails.statusDetails!=1">Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Food stuffs</div>
        </ng-template>
        <mat-card>
            <app-item-line class="margin-15" [code]="this.code "></app-item-line>
            <mat-card-actions>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Instructions</div>
        </ng-template>
        <mat-card>
            <app-instruction-line [code]="this.code "></app-instruction-line>
            <mat-card-actions>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Confirm your recipe</ng-template>
        <mat-card>
            <h4>{{mainDetails.nameRecipe}} is ready!</h4>
            <p>
                If everything seems correct click on done to enter recipe to recipe list....
            </p>
            <div>
                <button mat-fab (click)="saveRecipeInList()">Done</button>
            </div>
        </mat-card>
    </mat-step>
</mat-vertical-stepper>
<!--/div>
<div *ngIf="mainDetails.statusDetails==4">
    <mat-card class="margin-15">
        <h2>your {{this.mainDetails.nameRecipe}} was deleted</h2>
        <img mat-card-image src="assets\ic_delete.png " style="width:250px; opacity:30% ">
    </mat-card>
</div-->