<form *ngIf="statusDetails!=4" role="form">
    <div id="recipeDetails" [ngSwitch]="statusDetails">
        <div id="recipeCreated" *ngSwitchCase="0">
            <p>{{code}}</p>
            <input type="text" name="getFrom" placeholder="Get Recipe From" [(ngModel)]="getFrom">
            <br>
            <input type="text" name="nameRecipe" placeholder="Name Of Recipe" [(ngModel)]="nameRecipe">
            <br>

            <h3>Categories:</h3>
            <select *ngFor="let cat of category; let i=index" name="category[i]" [(ngModel)]="category[i]">
                <option *ngFor="let option of optionCategories">{{option}}</option>
            </select>
            <br>
            <input type="file" name="urlImg">
            <br>
            <textarea rows="3" name="comment" placeholder="Your Comments" [(ngModel)]="comment"></textarea>
            <br>
            <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="firstSaveDetails()">
          <img src="assets\saveBtn.png" width="100%">
        </button>
        </div>

        <div id="recipeOnSave" *ngSwitchCase="1">
            <p>{{code}}/get recipe from {{getFrom}}</p>
            <h1>{{nameRecipe}}</h1>
            <h3>Categories:</h3>
            <ul>
                <li *ngFor="let cat of category">{{cat}}</li>
            </ul>
            <img width="300" [src]="urlImg">
            <h5>Comment:</h5>
            <p>{{comment}}</p>
            <br>
            <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="aditDetails()">
          <img src="assets\aditBtn.png" width="100%">
        </button>
            <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="deleteRecipe()">
          <img src="assets\deleteBtn.png" width="100%">
        </button>
        </div>

        <div id="recipeInAdit" *ngSwitchCase="2">
            <p>{{code}}</p>
            <input type="text" name="getFrom" placeholder="Get Recipe From" [(ngModel)]="getFrom">
            <br>
            <input type="text" name="nameRecipe" placeholder="Name Of Recipe" [(ngModel)]="nameRecipe">
            <br>

            <h3>Categories:</h3>
            <select *ngFor="let cat of category; let i=index" name="category[i]" [(ngModel)]="category[i]">
                <option *ngFor="let option of optionCategories">{{option}}</option>
            </select><br>
            <input type="file" name="urlImg">
            <br>
            <textarea rows="3" name="comment" placeholder="Your Comments" [(ngModel)]="comment"></textarea>
            <br>
            <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="saveRepice()">
          <img src="assets\saveBtn.png" width="100%">
        </button>
        </div>

    </div>
    <app-item-line></app-item-line>
    <h2>instruction</h2>
    <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="createInstructionLine(-1)" *ngIf="zeroInstructions">
    <img src="assets\addBtn.png" width="100%">
  </button>

    <div id='instructionLine' *ngFor="let instruction of instructions; let i = index">
        <div id="instructionLineDetails" [ngSwitch]="instruction.statusLine">
            <div id="instructionLineDetailsCreate" *ngSwitchCase="0">
                <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="firstSaveInstructionLine(instruction.instruction, i)">
          <img src="assets\saveBtn.png" width="100%">
        </button>

                <input type="text" name="instruction.instruction" placeholder="Enter instruction">
            </div>

            <div id="instructionLineDetailsInSaved" *ngSwitchCase="1">
                <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="aditInstructionLine(i)">
          <img src="assets\aditBtn.png" width="100%">
        </button>
                <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="deleteInstructionLine(i)">
          <img src="assets\deleteBtn.png" width="100%">
        </button>

                <label>{{instruction.instruction}}</label>


                <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="createInstructionLine(i)" *ngIf="instruction.lastLine">
          <img src="assets\addBtn.png" width="100%">
        </button>
            </div>

            <div id="instructionLineDetailsInAdit" *ngSwitchCase="2">
                <button class="md-fab md-mini md-button md-ink-ripple md-recipe" type="button" (click)="saveInstructionLine(i)">
          <img src="assets\saveBtn.png" width="100%">
        </button>


                <input type="text" name="instruction.instruction" [(ngModel)]="instruction.instruction" placeholder="Enter instruction">

            </div>
        </div>
    </div>


</form>