<div *ngIf="!code">
    <mat-card>
        <h4>loading...</h4>
        <mat-spinner></mat-spinner>

    </mat-card>
</div>

<div *ngIf="code">

    <!--recipe is not deleted-->
    <div *ngIf="mainDetails.statusDetails!=4">
        <mat-card class="margin-15">
            <h1 *ngIf="!mainDetails.nameRecipe">
                @say cook book</h1>
            <h1 *ngIf="mainDetails.nameRecipe">{{mainDetails.nameRecipe}}</h1>
            <mat-card-actions>
                <button mat-fab (click)=" deleteRecipe() ">
            <mat-icon>delete</mat-icon>
            </button>
                <button mat-fab (click)="shareRecipe() ">
            <mat-icon>share</mat-icon>
            </button>
                <button mat-fab (click)="sayIt() ">
                <mat-icon>keyboard_voice</mat-icon>
            </button>
            </mat-card-actions>



            <mat-horizontal-stepper>
                <mat-step>
                    <ng-template matStepLabel>Main Details Of Recipee</ng-template>

                    <app-main-details class="margin-15" [code]="this.code "></app-main-details>
                    <br><br>
                    <div>
                        <button mat-button matStepperNext type="button" [disabled]="this.mainDetails.statusDetails!=1">Next</button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <div>Ingredients</div>
                    </ng-template>
                    <mat-card>
                        <app-item-line class="margin-15" [code]="this.code "></app-item-line>
                        <mat-card-actions>
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button mat-button matStepperNext type="button">Next</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <div>Instructions</div>
                    </ng-template>
                    <mat-card>
                        <app-instruction-line [code]="this.code "></app-instruction-line>
                        <mat-card-actions>
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button mat-button matStepperNext type="button">Next</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Confirm your recipe</ng-template>
                    <mat-card>
                        <h4>{{mainDetails.nameRecipe}}</h4>
                        <p>
                            If everything seems correct click on done to get recipe list....
                        </p>
                        <div>
                            <button mat-fab (click)="saveRecipeInList()" *ngIf="mainDetails.statusDetails==1">Done</button>
                        </div>
                    </mat-card>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card>
    </div>
    <div *ngIf="mainDetails.statusDetails==4">
        <mat-card class="margin-15">
            <h2>your {{this.mainDetails.nameRecipe}} was deleted</h2>
            <img mat-card-image src="assets\ic_delete.png " style="width:250px; opacity:30% ">
        </mat-card>
    </div>
</div>