<div *ngIf="nameRecipe==null&& statusDetails==1" class="center">
    <mat-card class="center">
        <h4 class="center">loading...</h4>
        <mat-spinner class="center"></mat-spinner>

    </mat-card>
</div>

<div *ngIf="!enable" class="center black white-text mt-4 pt-5 pb-5">
    <i class="fa fa-warning fa-4x white-text mb-4"></i>
    <p>this recipe was shared with you.</p>
    <h4 class="center mt-3 ">You have first add this recipe to your list.</h4>
</div>

<div *ngIf="enable|| statusDetails==0">

    <!--recipe is not deleted-->
    <div *ngIf="statusDetails!=4">

        <mat-card-actions>
            <button mat-fab (click)="style.show()">
        <mat-icon>delete</mat-icon>
      </button>
            <button mat-fab (click)="form.show() ">
        <mat-icon>share</mat-icon>
      </button>
            <button mat-fab [routerLink]="['/reader', code]">
            <mat-icon>keyboard_voice</mat-icon>
        </button>
        </mat-card-actions>



        <mat-vertical-stepper>
            <mat-step>
                <ng-template matStepLabel>Main Details Of Recipee</ng-template>
                <!--                          main details             -->
                <form>


                    <div class="container  lighten-2 pt-2 pb-2" id="recipeInEdit" *ngIf="statusDetails!=1">

                        <mat-card-content>
                            <div class="row d-flex pl-1 mt-4 align-content-center   lighten-2 ">
                                <h5 class="font-weight-bold mb-3">
                                    <i *ngIf="isFavorit" class="fa fa-star fa-2x orange-text link-cosmo" (click)="isFavorit=false;"></i>
                                    <i *ngIf="!isFavorit" class="fa fa-star-o fa-2x orange-text link-cosmo" (click)="isFavorit=true;"></i> Favorite Recipe
                                </h5>
                            </div>

                            <mat-input-container class="fullwidth">
                                <input matInput class="pl-3 inputDiv" name="getFrom" placeholder="Get Recipe From" [(ngModel)]="getFrom">
                            </mat-input-container>
                            <mat-card-title>
                                <mat-input-container class="fullwidth">
                                    <input matInput class="pl-3 inputDiv" type="text" name="nameRecipe " placeholder="Name Of Recipe" [(ngModel)]="nameRecipe" required>
                                    <mat-error *ngIf="!nameRecipe">You must enter name of recipe.</mat-error>
                                </mat-input-container>
                            </mat-card-title>


                            <div class="row">
                                <div class="col-md-9 center col-sm-9 mb-1">
                                    <h5 class="responsive">Categories:</h5>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <mat-form-field class="inputDiv">
                                        <mat-select [value]="category1" placeholder="category 1" (change)="category1 = $event.value">
                                            <mat-option [value]="option.name" *ngFor="let option of dbs.categoryList">{{option.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="category1">
                                    <mat-form-field class="inputDiv">
                                        <mat-select [value]="category2" placeholder="category 2" (change)="category2 = $event.value">
                                            <mat-option [value]="option.name" *ngFor="let option of dbs.categoryList">{{option.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mb-3" *ngIf="category2">
                                    <mat-form-field class="inputDiv">
                                        <mat-select [value]="category3" placeholder="category 3" (change)="category3 = $event.value">
                                            <mat-option [value]="option.name" *ngFor="let option of dbs.categoryList">{{option.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field class="fullwidth ">
                                <textarea matInput class="pl-3 inputDiv" placeholder="comment" aria-label="Comment" name="comment" [(ngModel)]="comment" matTextareaAutosize [maxlength]="commentMax"></textarea>
                                <mat-hint>Leave us a comment!</mat-hint>
                                <mat-hint align="end">{{commentCount}}/{{commentMax}}</mat-hint>
                            </mat-form-field>
                        </mat-card-content>

                        <div class="container borded">
                            <input type="file" id="imageFile">
                            <!--class=" custom-file-control"-->
                        </div>
                        <br>

                        <button mat-fab (click)="saveRecipe()" [disabled]='!nameRecipe'>
                          <mat-icon>save</mat-icon>
                        </button>


                    </div>

                    <div id="recipeOnSave" *ngIf="statusDetails==1">

                        <mat-card-content>
                            <div class="row d-flex align-items-center justify-items-start ml-2 mt-2">
                                <div class="col-md-5 col-sm-12 ml-2">
                                    <img mat-card-image [src]="urlImg">
                                </div>
                                <div class="col-md-6 col-sm-12 ml-3" style="text-align:center">
                                    <mat-card-title>
                                        <i *ngIf="isFavorit" class="fa fa-star mr-2 fa-2x center orange-text"></i>
                                        <i *ngIf="isFavorit" class="fa fa-star mr-2 fa-2x center orange-text"></i>
                                        <i *ngIf="isFavorit" class="fa fa-star mr-2 fa-2x center orange-text"></i>
                                        <h1 class="card-title">{{nameRecipe}}</h1>
                                    </mat-card-title>
                                    <mat-card-subtitle *ngIf="getFrom">Recipe received from {{getFrom}}</mat-card-subtitle>
                                    <h5 *ngIf="category1">category: {{category1}} {{category2}} {{category3}}.</h5>
                                    <br>
                                    <br>
                                    <p *ngIf="comment">Comment: {{comment}}</p>


                                </div>
                            </div>

                            <div class="col-12 center">
                                <button mat-fab (click)="aditDetails()">
                                  <mat-icon class="mat-25">edit</mat-icon>
                                </button>
                            </div>

                        </mat-card-content>

                    </div>
                </form>
                <!--                    end main details        -->
                <br>
                <br>
                <div>
                    <button mat-button matStepperNext type="button" [disabled]="this.statusDetails!=1">Next</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <div>Ingredients</div>
                </ng-template>

                <app-item-line class="margin-15" [statusDetails]="statusDetails" [code]="this.code" [nameRecipe]="nameRecipe"></app-item-line>
                <mat-card-actions>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </mat-card-actions>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <div>Instructions</div>
                </ng-template>

                <app-instruction-line [code]="this.code" [statusDetails]="statusDetails"></app-instruction-line>

                <mat-card-actions>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </mat-card-actions>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Confirm your recipe</ng-template>
                <mat-card>
                    <h4>{{nameRecipe}}</h4>
                    <p>
                        If everything seems correct click on done to get recipe list....
                    </p>
                    <div>
                        <button mat-fab (click)="saveAndGoBack()" *ngIf="statusDetails==1">Done</button>
                    </div>
                </mat-card>
            </mat-step>
        </mat-vertical-stepper>

    </div>

</div>



<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger ground" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Are You Sure?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Do you want delete this recipe from your app?</p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="style.hide(); deleteRecipe();">delete
          <i class="fa fa-delete ml-1"></i>
        </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>cancel</a>
            </div>
        </div>
    </div>
</div>


<div mdbModal #form="mdb-modal" class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-share"></i> Share With</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div>

                    <mat-input-container class="center">
                        <i class="fa fa-user prefix"></i>
                        <input matInput type="text" #friend placeholder="ID of User You Want Share With:" required>
                        <mat-error *ngIf="!friend">You must enter any ID.</mat-error>
                        <mat-error *ngIf="!apears(friend.value)">You must enter any ID.</mat-error>
                    </mat-input-container>
                    <mat-divider></mat-divider>


                </div>



                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-1 waves-light" mdbRippleRadius (click)="shareRecipe(friend.value);friend.value=''; form.hide()" [disabled]="!friend || !apears(friend.value)">Submit <i class="fa fa-check ml-1"></i></button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>