<div>
    <h1>
        Welcome to Say Cook Book application
    </h1>
</div>
<img src='assets\\homeImg\\logo.png'>
<div class="body-margin">
    say cook book is a....................bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla
    bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla bla
</div>

<div class="body-margin">
    <mat-toolbar>
        <a href="https://gitHub.com/sarabuc/SayCookBook" class="link">
            <h4 color="primary">Read more about us in GitHub</h4>
        </a>
    </mat-toolbar>
    <mat-toolbar>
        <a href="https://gitHub.com/sarabuc/SayCookBook" class="link">
            <h4 color="primary">for every bug and commit please open us a issue in our gitHub</h4>
        </a>
    </mat-toolbar>
</div>