<div class="mb-4 pb-4 mb-2">
    <h2>Find Recipe by Category</h2>
    <div>
        <input type="text" id="myInput" ng-model="test" placeholder="Search for category.." name="category" [(ngModel)]="category">
        <div>
            <img id="searchImg" src='/assets/search.png'>
        </div>
    </div>
</div>

<!--mat-card>

    <mat-grid-list cols="3" rowHeight="150px">
        <div class="view overlay hm-blue-light">
            <mat-grid-tile *ngIf="isPrefix(cat.name) " style="background-color:#009688 " [routerLink]="[ '/recipesForCategory', cat.name] ">
                <img src='assets\\category.png' class="img-fluid " alt=" ">
                <div class="mask flex-center ">
                    <!mat-icon>category</mat-icon><br><br><br>
                    <h4>{{cat.name}}</h4>
                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>


</mat-card-->

<mat-grid-list [cols]="cols" rowHeight="260px">
    <div *ngFor="let cat of this.optionCategories ">
        <mat-grid-tile *ngIf="isPrefix(cat.name) "  class="mb-2">

            <div class="card " [routerLink]="[ '/recipesForCategory', cat.name] ">
                <div class="view overlay hm-blue-light">
                    <!--Card image-->
                    <img class="img-fluid" mdbRippleRadius style="width:110%" src='assets\\category.png' alt="Card image cap ">
                    <p class="card-title "> {{cat.name}}</p>
                    <div class="mask flex-center">

                    </div>
                </div>


                <!--Card content-->
                <!-- <div class="card-body z-depth-1">-->
                <!--Title-->
                <!--<h4 class="card-title "> {{cat.name}}</h4>-->
                <!--Text-->

                <!-- </div>-->

            </div>
            <!--/.Card-->

        </mat-grid-tile>
    </div>
</mat-grid-list>