
    mat-icon.record_icon.animated.pulse.infinite.material-icons {
        font-size: 200px;
        color: rgb(75, 64, 64);
        height: 210px;
        text-align: center;
        width: 100%;
    }
    h1 {
        font-weight: 500;
        color: rgb(75, 64, 64);
    }