
    mat-icon.record_icon.animated.flash.infinite.mat-icon.material-icons {
        font-size: 200px;
        color: rgb(48, 46, 46);
        height: 210px;
        text-align: center;
        width: 100%;
    }
    h1 {
        font-weight: 500;
        color: rgb(48, 46, 46);
    }