

<button mat-button (click)="record()">
  <mat-icon class="record_icon animated flash infinite">keyboard_voice</mat-icon>
</button> 
  <br/>
<div class="container"><div class=" animated  slideInRight ">
  <div>
    <h1>
      {{operationType}}
    </h1>
  </div>

  <br>
  <div>
      <h2 class="text-weight-bold">
        {{operation}}
      </h2>
  </div>
</div>
</div>
<br/>
<button mat-raised-button (click)="nextClick()">Next</button>
<button mat-raised-button (click)="prevClick()">Prev</button>
<button mat-raised-button (click)="againClick()">Again</button>

