<mat-card class="fullWidth">
    <h2>Welcome To Say Cook Book!</h2>
    <img src="assets\homeImg\logo.png">
    <mat-card>

        <mat-list>

            <mat-list-item>
                <mat-icon mat-list-icon>stars</mat-icon>
                <h4 mat-line> Enter With My Existed Accont:</h4>

                <mat-checkbox #old [checked]="withold" (change)="changeoldStatus(old.checked)"></mat-checkbox>

            </mat-list-item>
            <mat-card class="fullWidth" *ngIf="withold">
                <form>
                    <h3>Enter Your Account ID:</h3>
                    <mat-form-field>
                        <input matInput [(ngModel)]="oldid" name="oldid" placeholder="your account id" style="text-align:right" required>

                        <mat-error *ngIf="!oldid">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="!apears(newid)">
                            The User Name Is Not Exist!
                        </mat-error>

                        <!--mat-error *ngIf="emailFormControl.hasError('pattern')">
                            Please enter a valid email address
                        </mat-error-->
                    </mat-form-field>
                    <br>
                    <button mat-raised-button [disabled]="!oldid || !apears(newid)" (click)="addoldUser()">Log In</button>
                </form>
            </mat-card>

            <mat-list-item>
                <mat-icon mat-list-icon>stars</mat-icon>
                <h4 mat-line> Enter With New Account:</h4>
                <mat-checkbox #newA [checked]="withnewA" (change)="changeNewAStatus(newA.checked)"></mat-checkbox>
            </mat-list-item>
            <mat-card class="fullWidth" *ngIf="withnewA">
                <form>
                    <h3>Enter New ID For Your Account:</h3>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newid" name="newid" placeholder="new account ID" style="text-align:right" required>

                        <mat-error *ngIf="!newid">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="apears(newid)">
                            The User Name apears!
                        </mat-error>
                        <!--mat-error *ngIf="emailFormControl.hasError('pattern')">
                            Please enter a valid email address
                        </mat-error>-->
                    </mat-form-field>
                    <br>
                    <button mat-raised-button [disabled]="!newid || apears(newid)" (click)="addNewUser()">Log In</button>
                </form>

            </mat-card>
        </mat-list>
    </mat-card>
</mat-card>





<button type="button" class="btn btn-primary waves-light" (click)="form.show()" mdbRippleRadius>Subscription form</button>
<!--Modal: Subscription From-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-newspaper-o"></i> Subscription form</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbActive type="password" id="form27" class="form-control">
                    <label for="form27">Your name</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbActive type="text" id="form28" class="form-control">
                    <label for="form28">Your email</label>
                </div>

                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-1 waves-light" mdbRippleRadius>Submit <i class="fa fa-check ml-1"></i></button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Subscription From-->