

  <div class="container">
    
       
          <div class="app_button">
            <mat-card-actions>
                <button mat-fab (click)="style.show()">
            <mat-icon>delete</mat-icon>
            </button>
                <button mat-fab (click)="shareRecipe() ">
            <mat-icon>share</mat-icon>
            </button>
            <button id = "read" mat-fab (click)="sayIt() "> 
                <mat-icon>keyboard_voice</mat-icon>
            </button>
            </mat-card-actions>
          </div>
          <div class="signup-screen" >
          <div class="recipe">
            <div class="divider"></div>
           <div class="space-bot text-center">
              <h1>name recipe</h1>
              <div class="divider"></div>
              <table>
               <tr>
                 <td >
                   
                   <label>at  aaaaa</label><br/>
                   <label>at  aaaaa</label><br/>
                   <label>time aaaa</label><br/>
                   <label>time aaaaa</label>
                 </td>
                 <td> 
                    <img id="searchImg" src='/assets/blank.png' >   
               </td>
             </tr>
             </table>
  
             <div class="divider"></div>
           </div>
                <form class="form-register" method="post" name="register" novalidate>
                  <div >
                      <h3>ingredient</h3>
                      <div  class="ingred">
                        <div >ingredient1</div><br/>
                        <div >ingredient2</div><br/>
                        <div >ingredient3</div><br/>
                        <div >ingredient4</div><br/>
                        <div >ingredient5</div><br/>
                        <div >ingredien t6666666666 66666666666 6666666666 6666666666666666666666611</div><br/>
                  </div>
                  <div class="divider"></div>
                    <h3>Instructions</h3>
                    <div  class="Instruc">
                      <div>Instructions1</div><br/>
                      <div>Instructions2</div><br/>
                      <div>Instructions3</div><br/>
                    </div>
                  </div>
                </form>
            </div>
             </div>
          </div>
    
  