

  <div class="container">
    
        <div class="signup-screen">
           <div class="space-bot text-center">
              <h1>name recipe</h1>
              <div class="divider"></div>
              <table>
               <tr>
                 <td >
                   <label>at  aaaaa</label><br/>
                   <label>at  aaaaa</label><br/>
                   <label>time aaaa</label><br/>
                   <label>time aaaaa</label>
                 </td>
                 <td>           
                   <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBnB2qU0zNZiHhidIEvkJKffyo2vg7rOrE9aMk5VbZ203KUNDM"> 
               </td>
             </tr>
             </table>
  
             <div class="divider"></div>
           </div>
             <form class="form-register" method="post" name="register" novalidate>
                 <div >
                    <h3>ingredient</h3>
                    <div><label>ingredient1</label><br/></div>
                    <div><label>ingredient2</label><br/></div>
                    <div><label>ingredient3</label><br/></div>
                    <div><label>ingredient4</label><br/></div>
                    <div><label>ingredient5</label><br/></div>
                    <div><label>ingredient666666666666666666666666666666666666666666666666666666</label><br/></div>
                    <div class="divider"></div>
                    <h3>Instructions</h3>
                    <div><label>Instructions1</label><br/></div>
                    <div><label>Instructions2</label><br/></div>
                    <div><label>Instructions3</label><br/></div>
                  </div>
                <div class="space-top text-center"></div>
             </form>
             </div>
          </div>
    
  