<div class="container" *ngIf="this.dbs.recipeInWork.statusDetails!=1">
    <h3 class="orange-text">You can't add or see the instructions before save prev step!!</h3>
</div>
<div *ngIf="this.dbs.recipeInWork.statusDetails==1" class="container">
    <form class="fullWidth">
        <div class="row">
            <div class="col-md-12 col-sm-12 center">
                <h2 class="center mb-3">Instructions:</h2>
            </div>
        </div>
        <mat-list>

            <div id='itemLine' *ngFor="let item of instructions; let i = index">
                <mat-list-item id="itemLineDetailsInSaved" class="mb-2">
                    <strong>
                      <label class="mr-3 responsive mb-1">{{i+1}}.</label>
                  </strong>
                    <!--style="width:80%; max-width:80%; text-align:left"-->

                    <label class="mr-2 responsive mb-1">{{item.description}}</label>

                    <button *ngIf="!(inEditState && instructionToEdit==item)" mat-mini-fab matSuffix color="orange" class="ml-auto" (click)="editInstructionLine(item)">
                      <mat-icon class="mat-25" >edit</mat-icon>
                    </button>

                    <button *ngIf="!(inEditState && instructionToEdit==item)" mat-mini-fab matSuffix color="orange" (click)="styleDel.show();itemToDelete=item">
                    <mat-icon class="mat-25" >delete</mat-icon>
                    </button>
                </mat-list-item>

                <!--              for edit:                  -->

                <div class="container d-flex" id="itemLineDetailsEdit" *ngIf="inEditState && instructionToEdit==item">
                    <div class="row">
                        <div class="col-md-5 col-sm-8">
                            <mat-input-container style="width:95%; margin:auto">
                                <input matInput type="text" name="item.description" placeholder="Instruction" [(ngModel)]="item.description" required>
                                <mat-error *ngIf="!item.description">You must enter some description.</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <button mat-mini-fab color="primary" (click)="updateInstructionLine(item)" [disabled]="!item.description">
            <mat-icon class="mat-25" >save</mat-icon>
            </button>
                            <button mat-mini-fab color="orange" (click)="styleDel.show();itemToDelete=item">
            <mat-icon class="mat-25" >delete</mat-icon>
            </button>
                        </div>
                    </div>

                </div>
            </div>
        </mat-list>

        <br>
        <button mat-mini-fab matSuffix class="mb-3" color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()" mdbRippleRadius>
            <mat-icon class="mat-25" >add</mat-icon>
            </button>
        <div mdbModal #demoBasic="mdb-modal" class="modal  fade ground" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content modal-show">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">New Instruction:</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <mat-input-container>
                                <input matInput type="text" name="nDescription" placeholder="Description" [(ngModel)]="nDescription" required>
                                <mat-error *ngIf="!nDescription">You must enter some description.</mat-error>
                            </mat-input-container>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbRippleRadius>Cancel</button>
                        <button type="button" class="btn btn-primary btn-sm waves-light" mdbRippleRadius (click)="saveInstructionLine();demoBasic.hide()" [disabled]="!nDescription">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>
    </form>

</div>


<div mdbModal #styleDel="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger ground" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Are You Sure?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="styleDel.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Do you want delete this instruction from your recipe?</p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="styleDel.hide(); deleteItemLine();">delete
          <i class="fa fa-delete ml-1"></i>
        </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="styleDel.hide(); canselFromDelete()" mdbRippleRadius>cancel</a>
            </div>
        </div>
    </div>
</div>















<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--mat-card>
    <mat-list>
        <h2>Instructions:</h2>

        <div id='itemLine' *ngFor="let item of this.dbs.instructionsList; let i = index">
            <mat-list-item id="itemLineDetailsInSaved">


                <table style="width:90%; max-width:90%; text-align:left" cellspacing="0">
                    <tr>
                        <td style="width:10%">

                            <label>{{i+1}}.</label>
                        </td>
                        <td>
                            <label>{{item.description}}</label>

                        </td>
                    </tr>
                </table>
                <button mat-mini-fab matSuffix color="orange" (click)="editInstructionLine(item)">
          <mat-icon class="mat-25">edit</mat-icon>
        </button>

                <button mat-mini-fab matSuffix color="orange" (click)="deleteInstructionLine(item)">
          <mat-icon class="mat-25">delete</mat-icon>
        </button>
            </mat-list-item-->

<!--              for edit:                  -->

<!--mat-card style="width: 95%" id="itemLineDetailsEdit" *ngIf="inEditState && instructionToEdit==item">
                <table style="width: 95%" cellspacing="0">

                    <tr>
                        <td>

                            <mat-input-container>
                                <input matInput type="text" name="item.description" placeholder="instruction" [(ngModel)]="item.description" required>

                                <mat-error *ngIf="!item.description">You must enter some instruction.</mat-error>
                            </mat-input-container>
                        </td>
                        <td>

                        </td>
                        <td>
                            <button mat-mini-fab color="primary" (click)="updateInstructionLine(item)" [disabled]="!item.description">

                <mat-icon class="mat-25">save</mat-icon>
              </button>
                        </td>
                        <td>
                            <button mat-mini-fab color="orange" (click)="deleteInstructionLine(item)">
                <mat-icon class="mat-25">delete</mat-icon>
              </button>
                        </td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </mat-list-->



<!--                          for new instruction                    -->


<!--button mat-mini-fab matSuffix color="primary" *ngIf="newItemEnable" (click)="createItemLine()">
    <mat-icon class="mat-25">add</mat-icon>
  </button>
    <mat-card class="fullWidth" *ngIf="!newItemEnable">
        <mat-card style="width: 95%" id="itemLineDetailsEdit">
            <table style="width: 90%" cellspacing="0">

                <tr>
                    <td>
                        <mat-input-container>
                            <input matInput type="text" name="nDescrib" placeholder="Instruction" [(ngModel)]="nDescrib" required>
                            <mat-error *ngIf="!nDescrib">You must enter some instruction.</mat-error>


                        </mat-input-container>
                    </td>


                </tr>
            </table>
        </mat-card>

        <button mat-mini-fab color="primary" (click)="saveItemLine()" [disabled]="!nDescrib">


      <mat-icon class="mat-25">save</mat-icon>
    </button>

    </mat-card>
</mat-card-->