<form>


    <div id="recipeInEdit" *ngIf="statusDetails!=1">
        <mat-card>
            <mat-card-header>
                <mat-form-field>
                    <input matInput name="getFrom" placeholder="Get Recipe From" [(ngModel)]="getFrom">
                </mat-form-field>
            </mat-card-header>

            <mat-card-content>
                <mat-card-title>
                    <mat-form-field>
                        <input matInput type="text" #name name="nameRecipe " placeholder="Name Of Recipe " [(ngModel)]="nameRecipe " required>
                        <mat-error *ngIf="!nameRecipe">You must enter name of recipe.</mat-error>
                    </mat-form-field>
                </mat-card-title>
                <h3>Categories:</h3>
                <mat-form-field>
                    <mat-select name="category[0]" [(ngModel)]="category[0]">
                        <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select name="category[1]" [(ngModel)]="category[1]" color="peimary">
                        <mat-option *ngFor="let option of _recipeService.optionCategories" color="accent">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select name="category[2]" [(ngModel)]="category[2]">
                        <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <input type="file" id="choosedImg">

                <mat-form-field>
                    <textarea matInput aria-label="Comment" name="comment" [(ngModel)]="comment" matTextareaAutosize [maxlength]="commentMax"></textarea>
                    <mat-hint>Leave us a comment!</mat-hint>
                    <mat-hint align="end">{{commentCount}}/{{commentMax}}</mat-hint>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-fab color="accent" (click)="saveRecipe()" [disabled]='!nameRecipe'>
          <mat-icon>save</mat-icon>
        </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div id="recipeOnSave" *ngIf="statusDetails==1">
        <mat-card>
            <mat-card-header>
                <p *ngIf="getFrom">get recipe from {{getFrom}}</p>
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>
                    <h1>{{nameRecipe}}</h1>
                </mat-card-title>
                <mat-card-subtitle>category:{{category[0]}}, {{category[1]}}, {{category[2]}}.</mat-card-subtitle>

                <img mat-card-image width="300" [src]="urlImg">

                <h5 *ngIf="comment">Comment:</h5>
                <h6>{{comment}}</h6>


                <mat-card-actions>
                    <button mat-fab color="accent" (click)="aditDetails()">
            <mat-icon class="mat-25" >edit</mat-icon>
            </button>
                    <button mat-fab color="accent" (click)="deleteRecipe() ">
            <mat-icon class="mat-25" >delete</mat-icon>
            </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</form>
<!--
    <div id="recipeInAdit " *ngSwitchCase="2 ">
        <p>code: {{code}}</p>

        <br>
        <mat-form-field>
            <input matInput type="text" #name name="nameRecipe " placeholder="Name Of Recipe " [(ngModel)]="nameRecipe " required>
            <mat-error *ngIf="!nameRecipe">You must enter name of recipe.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text " name="getFrom " placeholder="Get Recipe From " [(ngModel)]="getFrom ">
        </mat-form-field>
        <br>

        <h3>Categories:</h3>
        <mat-form-field>
            <mat-select name="category[0]" [(ngModel)]="category[0]">
                <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select name="category[1]" [(ngModel)]="category[1]">
                <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select name="category[2]" [(ngModel)]="category[2]">
                <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
            </mat-select>
        </mat-form-field><br>
        <input type="file " name="urlImg ">
        <br>
        <mat-form-field>
            <textarea matInput aria-label="Comment " name="comment " [(ngModel)]="comment " matTextareaAutosize [maxlength]="commentMax "></textarea>
            <mat-hint>Leave us a comment!</mat-hint>
            <mat-hint align="end ">{{commentCount}}/{{commentMax}}</mat-hint>
        </mat-form-field>
        <br>
        <br>
        <button mat-fab color="accent" (click)="saveRepice()" [disabled]='!nameRecipe'>
          <mat-icon>save</mat-icon>
        </button>
    </div>

    </div>
</form>-->