<form>

    <div id="recipeDetails" [ngSwitch]="statusDetails">
        <div id="recipeCreated" *ngSwitchCase="0">
            <p>code:{{code}}</p>
            <mat-form-field>
                <input matInput name="getFrom" placeholder="Get Recipe From" [(ngModel)]="getFrom">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="text" #name name="nameRecipe " placeholder="Name Of Recipe " [(ngModel)]="nameRecipe " required>
                <mat-error *ngIf="!nameRecipe">You must enter name of recipe.</mat-error>
            </mat-form-field>
            <br>

            <h3>Categories:</h3>
            <mat-form-field>
                <mat-select name="category[0]" [(ngModel)]="category[0]">
                    <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select name="category[1]" [(ngModel)]="category[1]">
                    <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select name="category[2]" [(ngModel)]="category[2]">
                    <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <input type="file" id="choosedImg">
            <br>
            <mat-form-field>
                <textarea matInput aria-label="Comment" name="comment" [(ngModel)]="comment" matTextareaAutosize [maxlength]="commentMax"></textarea>
                <mat-hint>Leave us a comment!</mat-hint>
                <mat-hint align="end">{{commentCount}}/{{commentMax}}</mat-hint>
            </mat-form-field>



            <br>
            <button mat-fab color="accent" (click)="firstSaveDetails()" [disabled]='!nameRecipe'>
          <mat-icon>save</mat-icon>
        </button>

        </div>

        <div id="recipeOnSave" *ngSwitchCase="1">
            <p>{{code}}/get recipe from {{getFrom}}</p>
            <h1>{{nameRecipe}}</h1>
            <h3>Categories:</h3>
            <ul>
                <li *ngFor="let cat of category">{{cat}}</li>
            </ul>
            <img width="300" [src]="urlImg">
            <h5>Comment:</h5>
            <p>{{comment}}</p>
            <br>
            <button mat-fab color="accent" (click)="aditDetails()">
            <mat-icon class="mat-25" >edit</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="deleteRecipe() ">
            <mat-icon class="mat-25" >delete</mat-icon>
            </button>
        </div>

        <div id="recipeInAdit " *ngSwitchCase="2 ">
            <p>code: {{code}}</p>

            <br>
            <mat-form-field>
                <input matInput type="text" #name name="nameRecipe " placeholder="Name Of Recipe " [(ngModel)]="nameRecipe " required>
                <mat-error *ngIf="!nameRecipe">You must enter name of recipe.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="text " name="getFrom " placeholder="Get Recipe From " [(ngModel)]="getFrom ">
            </mat-form-field>
            <br>

            <h3>Categories:</h3>
            <mat-form-field>
                <mat-select name="category[0]" [(ngModel)]="category[0]">
                    <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select name="category[1]" [(ngModel)]="category[1]">
                    <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select name="category[2]" [(ngModel)]="category[2]">
                    <mat-option *ngFor="let option of _recipeService.optionCategories">{{option}}</mat-option>
                </mat-select>
            </mat-form-field><br>
            <input type="file " name="urlImg ">
            <br>
            <mat-form-field>
                <textarea matInput aria-label="Comment " name="comment " [(ngModel)]="comment " matTextareaAutosize [maxlength]="commentMax "></textarea>
                <mat-hint>Leave us a comment!</mat-hint>
                <mat-hint align="end ">{{commentCount}}/{{commentMax}}</mat-hint>
            </mat-form-field>
            <br>
            <br>
            <button mat-fab color="accent" (click)="saveRepice()" [disabled]='!nameRecipe'>
          <mat-icon>save</mat-icon>
        </button>
        </div>

    </div>
</form>