<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <!--   <app-recipe-list></app-recipe-list>-->
    </mat-sidenav>
    <mat-toolbar color="warn">
        <button mat-button (click)="sidenav.toggle()"><mat-icon>list</mat-icon></button>
        <h2 class="link" routerLink="/">Say Cook Book</h2>
        <div>
            <button mat-button (click)="login()">log in</button>
            <button mat-button (click)="logout()">log out</button>
            <button mat-button routerLink="/about">about us</button></div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!--  <app-home-page></app-home-page>-->
</mat-sidenav-container>
<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
    <app-recipe-list></app-recipe-list>
</div>
<div>
    <app-home-page></app-home-page>
    <app-options-for-recipe></app-options-for-recipe>
    <app-recipe></app-recipe>



</div>
-->