<!--mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-orange" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Say Cook Book</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">About</a>
            </li>
          
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Login</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Logout</a>
            </li>
        </ul>
    </links>
</mdb-navbar-->





<div mdbModal #frame="mdb-modal" [class]="modeClass" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}" [style.display]="modeDisplay">
    <div class="modal-dialog modal-frame modal-top" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row px-4">
                    <p class="pt-2 pr-2 mr-auto ml-3"><strong>Atenttion!!</strong> you are not log in</p>
                    <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="hideWarning();frame.hide()" mdbRippleRadius>Close</button>

                </div>
            </div>
        </div>
    </div>
</div>

<jaspero-alerts class="alerts" [defaultSettings]="options"></jaspero-alerts>
<mat-toolbar color="accent">

    <app-menu></app-menu>
    <h2 class="link" routerLink="/">Say Cook Book</h2>

    <button mat-button class="float-right" *ngIf="!isLogin()" (click)="form.show()">Log In</button>
    <button mat-button class="float-right " *ngIf="isLogin()" (click)="logout()">log out</button>
    <button mat-button mdbTooltip="Read More" placement="bottom" class="float-right " routerLink="/about">about</button>
    

</mat-toolbar>
<div class="body-margin ">



    <router-outlet style="background: black"></router-outlet>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center ">
    <app-recipe-list></app-recipe-list>
</div>
<div>
    <app-home-page></app-home-page>
    <app-options-for-recipe></app-options-for-recipe>
    <app-recipe></app-recipe>



</div>
-->

<!--                       login                            -->
<!--button type="button" class="btn btn-primary waves-light" (click)="form.show()" mdbRippleRadius>Login with avatar form</button-->
<!--Modal: Login with Avatar Form-->
<div mdbModal #form="mdb-modal" class="modal fade ground" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- -->
    <!-- -->

    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src='assets\\homeImg\\logo1.png' class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">

                <h5 class="mt-1 mb-2">Say Cook Book</h5>

                <div class="ml-0 mr-0 mb-2 ">
                    <mat-form-field>
                        <input matInput name="oldid" [(ngModel)]="oldid" placeholder="Enter User Name" style="text-align:right" required>

                        <mat-error *ngIf="!oldid">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="!apears(oldid)">
                            The User Name Is Not Exist!
                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="options text-center text-md-right mt-1">
                    <p>Not a member? <strong><a class="blue-text" (click)="form2.show(); form.hide()">Sign Up</a></strong></p>

                </div>

                <div class="text-center">
                    <button class="btn btn-cyan mt-1 waves-light" [disabled]="(!apears(oldid))||(!oldid)" mdbRippleRadius (click)="form.hide(); login()">Login <i class="fa fa-sign-in ml-1"></i></button>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login with Avatar Form-->

<!--                       register                           -->
<!--button type="button" class="btn btn-primary waves-light" (click)="form2.show()" mdbRippleRadius>Login with avatar form</button-->
<!--Modal: Login with Avatar Form-->
<div mdbModal #form2="mdb-modal" class="modal fade ground" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- -->
    <!-- -->

    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src='assets\\homeImg\\logo1.png' class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">

                <h5 class="mt-1 mb-2">Sign Up to:</h5>
                <h5 class="mt-1 mb-2">Say Cook Book</h5>

                <div class="ml-0 mr-0 mb-2 ">
                    <mat-form-field>
                        <input matInput name="newid" [(ngModel)]="newid" placeholder="Enter New User Name" style="text-align:right" required>

                        <mat-error *ngIf="!newid">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="apears(newid)">
                            The User Name Is Exist!
                        </mat-error>

                    </mat-form-field>

                    <div class="text-center">
                        <button class="btn btn-cyan mt-1 waves-light" mdbRippleRadius [disabled]="(apears(newid))||(!newid)" (click)="form2.hide(); signUp()">Sign In <i class="fa fa-sign-in ml-1"></i></button>
                    </div>
                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login with Avatar Form-->