<div class="container">
    <mat-grid-list cols="8" rows="6" rowHeight="120px">
        <mat-grid-tile (click)="onSelect(tile.route)" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
            <mat-card [style.background]="tile.color">
                <mat-card-title>{{tile.text}}</mat-card-title>
                <mat-card-content>
                    <p>{{tile.subtext}}</p>
                    <img mat-card-image [src]="tile.icon" style="width:40px; height:40px">
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="container">

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-icon mat-list-icon>favorite</mat-icon>
                <mat-panel-title>
                    My Favorites
                </mat-panel-title>
                <mat-panel-description>
                    Go to favorite categories.
                </mat-panel-description>
            </mat-expansion-panel-header>


            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile *ngFor="let fab of this._recipeService.favorites" style="background-color:#009688">
                    <h4>{{fab}}</h4>
                    <br>
                    <mat-icon>category</mat-icon>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-expansion-panel>
    </mat-accordion>
</div>