.container {
    width: 95%;
    padding: 15px;
    margin: auto;
    text-align: center;
}

mat-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

mat-grid-tile {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
     :hover {
        opacity: 0.5;
    }
}

mat-card {
    width: 95%;
    height: 95%;
    border-width: 7px;
    border-color: white;
    border-style: solid;
    border-radius: 5%;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: white;
}