

<app-recipe-show></app-recipe-show>

<div class="container" [style.width.px]="width">
    <mat-grid-list [cols]="cols" [rows]="rows">
        <mat-grid-tile (click)="onSelect(tile.route)" *ngFor="let tile of tiles" class='gray example-tooltip-host' [matTooltip]="tile.tooltip" matTooltipPosition="above">

            <mat-icon class="white-icon">
                {{tile.icon}}
            </mat-icon>

        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="container ">

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-icon mat-list-icon>favorite</mat-icon>
                <mat-panel-title>
                    My Favorites
                </mat-panel-title>
                <mat-panel-description>
                    Go to favorite categories.
                </mat-panel-description>
            </mat-expansion-panel-header>


            <mat-grid-list cols="3 " rowHeight="100px ">
                <mat-grid-tile class="blue-border my-2 orange" *ngFor="let fab of this.dbs.getFavoritesFromOption() " [routerLink]="['/recipesForCategory', fab.name]">
                    <h4>{{fab}}</h4>
                    <br>
                    <mat-icon>category</mat-icon>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-expansion-panel>
    </mat-accordion>
</div>